# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test
coverage
.nyc_output

# Documentation
docs
*.md
!README.md

# Docker
Dockerfile*
docker-compose*
.dockerignore
